<H2>Equipo de Trabajo</2>
<TABLE><TR>
<TD><IMG SRC="http://greenpeace.quant.cl:8081/static/SergioDawkins.jpg"></TD>
<TD><IMG SRC="http://greenpeace.quant.cl:8081/static/JMF.jpg"></TD>
</TR>
<TR><TD>
Compuesto por Sergio Lucero, ingeniero civil matemático (Universidad de Chile) y analista cuantitativo y José Manuel Ferreiro, 
doctor en Lingüística (Lancaster University)
el equipo que montó este estudio para Greenpeace se destaca por generar 
visualizaciones de conceptos semánticos en entornos de grandes cantidades de datos. Esto fue demostrado en su trabajo para el
estudio <A HREF="https://estudiodialogos.cl/">Dialogos de Futuro</A>, llevado a cabo en conjunto con Merlin entre el 2019 y el 2020.
</TD></TR>
<TR><TD><H4>Clusters</H4>
<IMG SRC="http://greenpeace.quant.cl:8081/static/dialogos.png">
</TD></TR>
</TABLE>
